@media screen and (min-width: 480px) {

	#content {
		margin: 0 auto
	}

	#top {
		margin: 0 0 0 2em;
	}

	#content img {
		max-width: 150px;
		float: left;
	}

	header {
		margin: 0 0 30px 0;

	}

	nav {
		background: none;
		font-size: 1.125em;
		float: right;
		text-align: right;
		width: 45%;
		margin: 20px 5% 0;
	}

	nav ul {
		margin: 0 10px;
	}

	h1 {
		display: inline-block;
	}

	h2 {
		text-align: left;
		margin-left: 15px;
	}
	

}

@media screen and (min-width: 660px) {


	
}