a {
	text-decoration: none;
}

a:visited {
    color: darkgrey;
}

h1 {
	color: white;
	background-color: #4aaaa5;
	text-align: center;
	font-size: 25px;
	padding: 15px;
	margin-bottom: 0px;
	margin-top:  0px;
}

h2 {
	color: #4aaaa5;
	text-align: center;
}

hr {
	max-width: 98%;
}
/*************************************** 
HEADER
***************************************/

header {
	background: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: solid;
	border-color: #cccccc;
	border-width: 1px;
}

#top {
	width: 100%;
}

/*************************************** 
BODY
***************************************/
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1em;
	background-image: url('/Users/cesarmcfarlin/Documents/GitHub/Basic-Portfolio/assets/images/light-grey-terrazzo.png');
	margin: 0 auto 0 auto;
}

body p {
	margin: 5px 10px;
}
	
#content {
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	max-width: 960px;
	max-height: 450px;
	margin: 10px;
	overflow: auto;
}


#content img {
	float: left;
	margin: 5px 10px;
}

.profile-photo {
  	max-width: 100px;
  	border-radius: 5%;
}

/****************************************
FOOTER
***************************************/

footer {
	padding-top: 5px;
	background: #666666;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: solid;
	border-color: #4aaaa5;
	border-width: .5em;
}

footer p {
	color: #ccc;
	font-size: .74em;
	text-align: center;
}

/*************************************** 
NAVIGATION
***************************************/
nav {
	text-align: center;
}

nav ul {
	list-style: none;
	padding: 0;
	color: darkgrey;
}

nav li {
	display: inline-block;
}


/*************************************** 
FORM
***************************************/
form {
	line-height: 1.3;
	margin-left: 1em;
}

input {
	width: 98%;
}

input[name="message"] {
	height: 100px;
}

.button {
	width: 50px;
   	height: 25px;
   	color: white;
	background-color: #4aaaa5;
	text-align: center;
}

/**********************************
PAGE: PORTFOLIO
***********************************/

#gallery {
  	margin: 0;
  	padding: 0;
  	list-style: none;
 
}

#gallery li a p {
  	margin: 0;
  	padding: 1%;
  	font-size: 0.75em;
}

#gallery li {
  	float: left;
  	margin: 2.5%;
  	position: relative;
  	text-align: center;
}

#gallery p {
	position: absolute;
	bottom: -11px;
	width: 80%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
	background-color: #ccc;
}

#gallery img {
	max-width: 150px;
}

